#container {
    display: flex;
    justify-content: normal;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;

    max-width: 640px;
    max-height: 640px;
    /* background-color: rgb(29, 165, 97); */
    border : 1px solid rgba(0,0,0,1);
}

#bigDiv {
    display: flex;
    justify-content: left;
    align-items: start;
    gap: 25px;
    height: 650px;
    width: 100vw;
}

#sideMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}